#spotify-headerBlock {
  background-color: #000;
  height: 80px;
}

#spotify-headerBlock > nav {
  height: 80px;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.spotifyLogo svg {
  width: 135px;
  height: 100%;
  fill: #fff;
}

.spotifyLogo {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
}

.spotifyMenu {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-end;
}

.spotifyMenu > nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.spotifyMenu > nav > ul > li > a {
  padding: 28px 17px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.spotifyMenu > nav > ul > li > a:nth-child(1),
.spotifyMenu > nav > ul > li > a:nth-child(2),
.spotifyMenu > nav > ul > li > a:nth-child(3) {
  font-weight: bold;
}

.bar {
  height: 18px;
  display: inline-block;
  width: 1px;
  background: #fff;
  padding: 0px;
  margin: 32px 20px;
}

.spotifyMenu nav ul li a:hover {
  color: #1ed760;
}

.profile_img {
  display: flex;
  align-items: center;
  font-size: 13px;
  background: #99999978;
  padding: 4px 12px;
  border-radius: 7px;
  width: 132px;
  height: 60px;
}

.profile_img img {
  width: 50px;
  margin: 0 11px 0 0;
}
.dropdown {
  z-index: 9999;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  min-width: 196px;
  top: 11px;
  right: -10px;
}

.dropdown ul {
  border-radius: 4px;
  background-color: #282828;
  max-width: 350px;
  min-width: 160px;
  padding: 4px;
  margin-top: 60px;
  list-style: none;
}

.dropdown li a {
  background: transparent;
  border: 0;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.9);
  cursor: default;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.dropdown li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
}
